* {
  font-family: 'Sansita', sans-serif;;
}

.centerizered{
  display: flex;
  justify-content: center;
}

.App {
  margin: auto;
  align-items: center;
  justify-content: center;
}

.bg-orange {
  background-color: #FD9E2B;
}

.bg-dark-1 {
  background-color: #2B2D2F;
}

.bg-dark-2 {
  background-color: #3F4143;
}

.bg-dark-3 {
  background-color: #5F6062;
}