@import 'variables';

.main-content {
  background-color: $bg-dark;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: auto;

  width: 600px;
  height: 600px;
}

.btn {
  background-color: $bg-primary;
  border: none;
  font-family: Verdana;
  font-size: 0.9rem;
  font-weight: bold;

  width: 100px;
  height: 50px;
}