/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./src/assets/app.css ***!
  \**************************************************************************************************************/
body {
  background-color: aqua; }

.div-img {
  background-image: url(5a908e0c0cd593c60711f3f5c6ab588f.png);
  background-position: center;
  height: 512px;
  width: 512px;
  margin: auto; }

/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./src/assets/main-content.scss ***!
  \************************************************************************************************************************/
.main-content {
  background-color: rgba(34, 34, 34, 0.856);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 600px;
  height: 600px; }

.btn {
  background-color: rgba(209, 15, 167, 0.856);
  border: none;
  font-family: Verdana;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100px;
  height: 50px; }

